// COLORS
$color-primary: #ffd700;
$color-secondary: #00a2ff;
$color-text: #4e4e4e;
$color-complementary: #e91e63;
$white: #fff;

// TYPOGRAPHY
$font-xs: 1.2rem;
$font-s: 1.4rem;


//SPACE
$space-xs: .5rem;
$space-s: 1.2rem;
$space-m: 2rem;

