//MAIN PAGE
.contact-btn {
    
    &:link,
    &:visited {
        @include button;
        font-size: 1rem;
        opacity: 0;
        border: 1.4px solid $color-text;
        color: $color-text;
        animation: secFadeIn 2s forwards;
        animation-delay: 5.2s;
    }
            
    &:hover {
        border: 1.4px solid $color-secondary;
        background-color: $color-secondary;
        color: $white;
        box-shadow: 4px 11px 11px -6px rgba(78,78,78,0.35); 
    }

    &:active {
        box-shadow: 4px 11px 11px -9px rgba(78,78,78,0.35);
    }
}


// CONTACT FORM

.send-btn {
    @include button;
    color: $white;
    border: 1.4px solid $color-secondary;
    background-color: $color-secondary;
    margin-top: $space-xs;

    &:hover {
        box-shadow: 4px 11px 11px -6px rgba(78,78,78,0.35);
        border: 1.4px solid $color-secondary;
    }

    &:active {
        box-shadow: 4px 11px 11px -9px rgba(78,78,78,0.35);
        border: 1.4px solid $color-secondary;
    }
}