@mixin popOut($delay) {
    animation: popOut .6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: $delay;
    opacity: 0;
}

@mixin button {
    padding: .5rem*2 $space-m;
    border-radius: 2px;
    font-size: $font-s;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

@mixin sm-icon {
    color: $color-text;
    margin: 0 $space-s*2;
    transition: all .2s ease-in-out;
}

//MEDIA QUERIES

@mixin respond($breakpoints) {
    @if $breakpoints == tab-land {
        @media screen and (min-width: 768px) {@content}
    };

    @if $breakpoints == desktop {
        @media screen and (min-width: 1366px) {@content}
    }

}



